body{

    background-color: rgb(43, 39, 44);
    scroll-behavior: smooth;
    
}


#sub{

    background-color: #2b272c !important;
    border: none;
    color: white;
    text-align: center;
}




#postform{
    background-color: #2b272c;
    border: none;
    color: rgb(34, 32, 32);
    margin: 2%;
}

.form-control#floatingTextarea{

    height: 600px ;
    
}

#post_container{
    padding-left: 10%;
    padding-right: 15%;
}

.container#contact_container{
    padding-left: 15%;
    padding-right: 15%;
    background-color: #504753;
    border: #504753;
    -webkit-box-shadow: 5px 5px 5px 0px #504753, inset 4px 4px 15px 0px #504753, 5px 5px 7px 5px #504753; 
    box-shadow: 5px 5px 5px 0px #504753, inset 4px 4px 15px 0px #504753, 5px 5px 7px 5px #504753;
}



#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    
  }
  
  #myBtn:hover {
    background-color: #619503; /* Add a dark-grey background on hover */
  }
  

