{% extends 'my_blog/home.html' %}

{% block title %}
<title>Delete Post</title>
{% endblock %}

{% block content %}
<div class="container text-center mt-5 mb-5">
    <h4 class="text-light mb-5">Are you sure you want to delete the post titled "<em>{{post.post_title}}</em>" ?</h4>
    <form method="post" action="">
        {% csrf_token %}
        <input type="submit" class="btn btn-lg btn-success" value="Confirm Delete">
    </form>
    <a href="{% url 'my_blog:post_list' %}" class="btn btn-lg btn-success">Go to Posts</a>
</div>
{% endblock %}