<!-- EXACTLY THE SAME AS post_form TEMPLATE BUT FOR UPDATING -->
{% extends "my_blog/home.html" %}

{% block title %}
    <title>Update Post</title> <!--THIS CHANGES FOR UPDATING -->
{% endblock %}

{% block content %}
<div class="container" id="post_container">
    <form id="postform" method="post" action="" enctype="multipart/form-data"> <!--enctype="multipart/form-data" is used for making the form POST the IMAGE-type thumbnails-->

        {% csrf_token %}
       
            {% for field in form %}

            {% if field.name == 'draft' or field.name == 'post_image' %}
            <div class="form-check col-md-10 col-lg-10 mb-3 ps-0 text-light">
                {{field.label_tag}}
                {{field}}
            </div>                
            {% else %}
            <div class="col-md-10 col-lg-10 form-floating mb-3">
                {{form.media}}
                {{field}}
                {{field.label_tag}}
            </div>
            {% endif %}
            {% endfor %}
            
        <input type="submit" class="btn btn-lg btn-success" value="Update Post!"> <!--THIS CHANGES FOR UPDATING -->
    </form>
</div>

{% endblock %}